<div>
  <label>Query:</label>
  <input
    class="search"
    type="text"
    [(ngModel)]="query"
    (keyup.enter)="searchUsers()"
  />
  <button [disabled]="!query || loadingResults" (click)="searchUsers()">
    Search
  </button>
  <ng-container *ngIf="usersData$ | async as usersData">
    <app-users-buttons-container
      *ngIf="!loadingResults"
      [usersData]="usersData"
    ></app-users-buttons-container>
  </ng-container>
  <div *ngIf="!loadingResults && !usersData$">
    <p>No result available!</p>
  </div>
  <div *ngIf="loadingResults">
    <h3>Loading...</h3>
  </div>
</div>
