<div class="user-details-viewer">
  <h2 class="username">{{ userData.username }}</h2>
  <img class="avatar" [src]="userData.avatar_url" />
  <p>
    url:
    <a target="_blank" [href]="userData.html_url">{{ userData.html_url }}</a>
  </p>
  <p *ngIf="userData.name">name: {{ userData.name }}</p>
  <p *ngIf="userData.location">location: {{ userData.location }}</p>
  <p>{{ userData.hireable ? 'hireable' : 'not-hireable' }}</p>
  <p>Number of public repos: {{ userData.num_of_public_repos }}</p>
  <app-repos-list
    [repos]="userData.repos"
    [listContainsAllrepos]="userData.num_of_public_repos <= 100"
  ></app-repos-list>
</div>
