.repo-list-item
    width: 100%
    margin: 1rem
    padding: 1rem
    border: 1px solid black
    position: relative
    overflow: hidden

    .fork-icon
        position: absolute
        top: 5px
        right: 5px
        background-color: #333333
        color: #fff
        font-size: 1.5rem
        width: 8rem
        height: 8rem
        transform: rotate(45deg) translateY(-76%)
        border-radius: 50%

        .fa-icon
            position: absolute
            bottom: 0.1rem
            left: 50%
            transform: rotate(-45deg) translateY(-50%) translateX(4px)

    .title
        font-size: 1.6rem
        font-weight: bolder
        margin-top: 0
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

    .load_languages
        cursor: pointer

    .languages-text
        margin-bottom: 0

    ul.languages
        margin-top: 0.3rem

        li
            margin-bottom: 0.3rem

            .name
                font-size: 1.1rem

            .percentage
                margin-left: 0.7rem
                opacity: 0.7
