<div class="repo-list-item">
  <p class="title">{{ repo.name }}</p>
  <p *ngIf="repo.description" class="description">{{ repo.description }}</p>
  <p class="language">{{ repo.language }}</p>
  <p>
    repo url:
    <a [href]="repo.url" target="_blank">{{ repo.url }}</a>
  </p>
  <p *ngIf="repo.homepage">
    homepage url:
    <a [href]="repo.homepage" target="_blank">{{ repo.homepage }}</a>
  </p>
  <p *ngIf="repo.is_a_fork">Is a Fork</p>
  <p *ngIf="!repo.is_a_fork">Is not a Fork</p>
  <p>Created at: {{ repo.created_at | date: dateFormat }}</p>
  <p>Last Pushed at: {{ repo.pushed_at | date: dateFormat }}</p>
  <p>Last Updated at: {{ repo.updated_at | date: dateFormat }}</p>
</div>
