<div class="repo-list-item">
  <div *ngIf="repo.is_a_fork" class="fork-icon">
    <div class="fa-icon"><fa-icon [icon]="forkFaIcon"></fa-icon></div>
  </div>
  <p class="title">{{ repo.name }}</p>
  <p *ngIf="repo.description" class="description">{{ repo.description }}</p>
  <p class="language">{{ repo.language }}</p>
  <p>
    repo url:
    <a [href]="repo.url" target="_blank">{{ repo.url }}</a>
  </p>
  <p *ngIf="repo.homepage">
    homepage url:
    <a [href]="repo.homepage" target="_blank">{{ repo.homepage }}</a>
  </p>
  <p>Size: {{ repo.size_in_KB | kbDisplay }}</p>
  <p *ngIf="repo.language && (!reposLanguages || reposLanguages.length === 1)">
    Main Language: {{ repo.language }}
    <span
      *ngIf="!reposLanguages && repo.languages_url"
      class="load_languages"
      (click)="loadLanguages()"
      ><fa-icon [icon]="infoCicleFaIcon"></fa-icon
    ></span>
    <span *ngIf="reposLanguages && reposLanguages.length === 1">
      (no more languages)
    </span>
  </p>
  <div *ngIf="reposLanguages && reposLanguages.length > 1">
    <p class="languages-text">Languages:</p>
    <ul class="languages">
      <li *ngFor="let lang of reposLanguages" class="language">
        <span class="name">{{ lang.name }}</span
        ><span class="percentage">[ {{ lang.percentage }}% ]</span>
      </li>
    </ul>
  </div>
  <p>Created at: {{ repo.created_at | date: dateFormat }}</p>
  <p>Last Pushed at: {{ repo.pushed_at | date: dateFormat }}</p>
  <p>Last Updated at: {{ repo.updated_at | date: dateFormat }}</p>
</div>
